/.idea/*.*
/.idea/copyright/*.*
/.idea/libraries/*.*
/.idea/scopes/*.*
/Emailbot.iml
/Emailbot-common/Emailbot-common.iml
/Emailbot-backend/Emailbot-backend.iml
/Emailbot-ear/Emailbot-ear.iml
/Emailbot-web/Emailbot-web.iml
/target/
/Emailbot-common/target/
/Emailbot-backend/target/
/Emailbot-ear/target/
/Emailbot-web/target/
